$font-wanted: "Wanted Sans Variable", "Wanted Sans", -apple-system, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif

$primary-color: #red
$h1: 1.4rem
$n1: 1rem

body
    font-family: $font-wanted


navTop
    font-size: $h1

navbar-brand
    font-size: $h1


navbar-nav
    align-content: center
    font-size: $n1
    